trunk/vs2010/HivePlugin/HivePrototypePlugin/teachpoints.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Teachpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Teachpoint">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="TeachpointItem">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="axis" type="xs:string" />
                    <xs:element name="position" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Teachpoint">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="axis" type="xs:string" />
                    <xs:element name="position" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="auto_generated" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>